<div class="login-card box">
  <h2 class="page-title">Add Your Character</h2>

  <main class="character-page">
    <div>
      <form class="form new-character">
        <div class="form-group center1">
          <label for="name-input">Enter Character's name:</label><br>
          <input class="form-input" type="text" id="name-input" />
        </div>
        <br>
        <select class="form-select form-select-lg mb-3 long" id="region-input" aria-label=".form-select-lg example">
          <option selected>Your Region</option>
          <option value="us">Americas</option>
          <option value="eu">Europe</option>
          <option value="kr">Korea</option>
          <option value="tw">Taiwan</option>
        </select>

        <input class="form-control long" list="datalistOptions" id="realm-input" placeholder="Input Realm">
        <datalist id="datalistOptions">
          <option value="Azralon">
          <option value="Gallywix">
          <option value="Goldrinn">
          <option value="Nemesis">
          <option value="Tol Barad">
          <option value="Drakkari">
          <option value="Quel'Thalas">
          <option value="Ragnaros">
          <option value="Aman'Thul">
          <option value="Barthilas">
          <option value="Caelestrasz">
          <option value="Dath'Remar">
          <option value="Dreadmaul">
          <option value="Frostmourne">
          <option value="Gundrak">
          <option value="Jubei'Thos">
          <option value="Khaz'goroth">
          <option value="Nagrand">
          <option value="Saurfang">
          <option value="Thaurissan">
          <option value="Aegwynn">
          <option value="Aerie Peak">
          <option value="Agamaggan">
          <option value="Aggramar">
          <option value="Akama">
          <option value="Alexstrasza">
          <option value="Alleria">
          <option value="Altar of Storms">
          <option value="Alterac Mountains">
          <option value="Andorhal">
          <option value="Anetheron">
          <option value="Antonidas">
          <option value="Anub'arak">
          <option value="Anvilmar">
          <option value="Arathor">
          <option value="Archimonde">
          <option value="Area 52">
          <option value="Argent Dawn">
          <option value="Arthas">
          <option value="Arygos">
          <option value="Auchindoun">
          <option value="Azgalor">
          <option value="Azjol-Nerub">
          <option value="Azshara">
          <option value="Azuremyst">
          <option value="Baelgun">
          <option value="Balnazzar">
          <option value="Black Dragonflight">
          <option value="Blackhand">
          <option value="Blackrock">
          <option value="Blackwater Raider">
          <option value="Blackwing Lair">
          <option value="Blade's Edge">
          <option value="Bladefist">
          <option value="Bleeding Hollow">
          <option value="Blood Furnace">
          <option value="Bloodhoof">
          <option value="Bloodscalp">
          <option value="Bonechewer">
          <option value="Borean Tundra">
          <option value="Boulderfist">
          <option value="Bronzebeard">
          <option value="Burning Blade">
          <option value="Burning Legion">
          <option value="Cairne">
          <option value="Cenarion Circle">
          <option value="Cenarius">
          <option value="Cho'gall">
          <option value="Chromaggus">
          <option value="Coilfang">
          <option value="Crushridge">
          <option value="Daggerspine">
          <option value="Dalaran">
          <option value="Dalvengyr">
          <option value="Dark Iron">
          <option value="Darkspear">
          <option value="Darrowmere">
          <option value="Dawnbringer">
          <option value="Deathwing">
          <option value="Demon Soul">
          <option value="Dentarg">
          <option value="Dethecus">
          <option value="Detheroc">
          <option value="Doomhammer">
          <option value="Draenor">
          <option value="Dragonblight">
          <option value="Dragonmaw">
          <option value="Drak'Tharon">
          <option value="Drak'thul">
          <option value="Draka">
          <option value="Drenden">
          <option value="Dunemaul">
          <option value="Durotan">
          <option value="Duskwood">
          <option value="Earthen Ring">
          <option value="Echo Isles">
          <option value="Eitrigg">
          <option value="Eldre'Thalas">
          <option value="Elune">
          <option value="Emerald Dream">
          <option value="Eonar">
          <option value="Eredar">
          <option value="Executus">
          <option value="Exodar">
          <option value="Farstriders">
          <option value="Feathermoon">
          <option value="Fenris">
          <option value="Firetree">
          <option value="Fizzcrank">
          <option value="Frostmane">
          <option value="Frostwolf">
          <option value="Galakrond">
          <option value="Garithos">
          <option value="Garona">
          <option value="Garrosh">
          <option value="Ghostlands">
          <option value="Gilneas">
          <option value="Gnomeregan">
          <option value="Gorefiend">
          <option value="Gorgonnash">
          <option value="Greymane">
          <option value="Grizzly Hills">
          <option value="Gul'dan">
          <option value="Gurubashi">
          <option value="Hakkar">
          <option value="Haomarush">
          <option value="Hellscream">
          <option value="Hydraxis">
          <option value="Hyjal">
          <option value="Icecrown">
          <option value="Illidan">
          <option value="Jaedenar">
          <option value="Kael'thas">
          <option value="Kalecgos">
          <option value="Kargath">
          <option value="Kel'Thuzad">
          <option value="Khadgar">
          <option value="Khaz Modan">
          <option value="Kil'jaeden">
          <option value="Kilrogg">
          <option value="Kirin Tor">
          <option value="Korgath">
          <option value="Korialstrasz">
          <option value="Kul Tiras">
          <option value="Laughing Skull">
          <option value="Lethon">
          <option value="Lightbringer">
          <option value="Lightning's Blade">
          <option value="Lightninghoof">
          <option value="Llane">
          <option value="Lothar">
          <option value="Madoran">
          <option value="Maelstrom">
          <option value="Magtheridon">
          <option value="Maiev">
          <option value="Mal'Ganis">
          <option value="Malfurion">
          <option value="Malorne">
          <option value="Malygos">
          <option value="Mannoroth">
          <option value="Medivh">
          <option value="Misha">
          <option value="Mok'Nathal">
          <option value="Moon Guard">
          <option value="Moonrunner">
          <option value="Mug'thol">
          <option value="Muradin">
          <option value="Nathrezim">
          <option value="Nazgrel">
          <option value="Nazjatar">
          <option value="Ner'zhul">
          <option value="Nesingwary">
          <option value="Nordrassil">
          <option value="Norgannon">
          <option value="Onyxia">
          <option value="Perenolde">
          <option value="Proudmoore">
          <option value="Quel'dorei">
          <option value="Ravencrest">
          <option value="Ravenholdt">
          <option value="Rexxar">
          <option value="Rivendare">
          <option value="Runetotem">
          <option value="Sargeras">
          <option value="Scarlet Crusade">
          <option value="Scilla">
          <option value="Sen'jin">
          <option value="Sentinels">
          <option value="Shadow Council">
          <option value="Shadowmoon">
          <option value="Shadowsong">
          <option value="Shandris">
          <option value="Shattered Halls">
          <option value="Shattered Hand">
          <option value="Shu'halo">
          <option value="Silver Hand">
          <option value="Silvermoon">
          <option value="Sisters of Elune">
          <option value="Skullcrusher">
          <option value="Skywall">
          <option value="Smolderthorn">
          <option value="Spinebreaker">
          <option value="Spirestone">
          <option value="Staghelm">
          <option value="Steamwheedle Cartel">
          <option value="Stonemaul">
          <option value="Stormrage">
          <option value="Stormreaver">
          <option value="Stormscale">
          <option value="Suramar">
          <option value="Tanaris">
          <option value="Terenas">
          <option value="Terokkar">
          <option value="The Forgotten Coast">
          <option value="The Scryers">
          <option value="The Underbog">
          <option value="The Venture Co">
          <option value="Thorium Brotherhood">
          <option value="Thrall">
          <option value="Thunderhorn">
          <option value="Thunderlord">
          <option value="Tichondrius">
          <option value="Tortheldrin">
          <option value="Trollbane">
          <option value="Turalyon">
          <option value="Twisting Nether">
          <option value="Uldaman">
          <option value="Uldum">
          <option value="Undermine">
          <option value="Ursin">
          <option value="Uther">
          <option value="Vashj">
          <option value="Vek'nilash">
          <option value="Velen">
          <option value="Warsong">
          <option value="Whisperwind">
          <option value="Wildhammer">
          <option value="Windrunner">
          <option value="Winterhoof">
          <option value="Wyrmrest Accord">
          <option value="Ysera">
          <option value="Ysondre">
          <option value="Zangarmarsh">
          <option value="Zul'jin">
          <option value="Zuluhed">
          <option value="Aggra (Português)">
          <option value="Ahn'Qiraj">
          <option value="Al'Akir">
          <option value="Alonsus">
          <option value="Anachronos">
          <option value="Aszune">
          <option value="Bloodfeather">
          <option value="Bronze Dragonflight">
          <option value="Burning Steppes">
          <option value="Chamber of Aspects">
          <option value="Darkmoon Faire">
          <option value="Darksorrow">
          <option value="Defias Brotherhood">
          <option value="Emeriss">
          <option value="Frostwhisper">
          <option value="Genjuros">
          <option value="Grim Batol">
          <option value="Hellfire">
          <option value="Karazhan">
          <option value="Kazzak">
          <option value="Kor'gall">
          <option value="Mazrigos">
          <option value="Moonglade">
          <option value="Neptulon">
          <option value="Outland">
          <option value="Scarshield Legion">
          <option value="Sporeggar">
          <option value="Sunstrider">
          <option value="Sylvanas">
          <option value="Talnivarr">
          <option value="Tarren Mill">
          <option value="The Sha'tar">
          <option value="Twilight's Hammer">
          <option value="Xavius">
          <option value="Zenedar">
          <option value="Arak-arahm">
          <option value="Arathi">
          <option value="Chants éternels">
          <option value="Confrérie du Thorium">
          <option value="Conseil des Ombres">
          <option value="Culte de la Rive noire">
          <option value="Drek'Thar">
          <option value="Krasus">
          <option value="La Croisade écarlate">
          <option value="Les Clairvoyants">
          <option value="Les Sentinelles">
          <option value="Marécage de Zangar">
          <option value="Naxxramas">
          <option value="Rashgarroth">
          <option value="Sinstralis">
          <option value="Temple noir">
          <option value="Throk'Feroth">
          <option value="Varimathras">
          <option value="Vol'jin">
          <option value="Ambossar">
          <option value="Blackmoore">
          <option value="Blutkessel">
          <option value="Das Konsortium">
          <option value="Das Syndikat">
          <option value="Der Mithrilorden">
          <option value="Der Rat von Dalaran">
          <option value="Der abyssische Rat">
          <option value="Destromath">
          <option value="Die Aldor">
          <option value="Die Arguswacht">
          <option value="Die Nachtwache">
          <option value="Die Silberne Hand">
          <option value="Die Todeskrallen">
          <option value="Die ewige Wacht">
          <option value="Dun Morogh">
          <option value="Echsenkessel">
          <option value="Festung der Stürme">
          <option value="Forscherliga">
          <option value="Krag'jin">
          <option value="Kult der Verdammten">
          <option value="Lordaeron">
          <option value="Madmortem">
          <option value="Nefarian">
          <option value="Nera'thor">
          <option value="Nethersturm">
          <option value="Nozdormu">
          <option value="Rajaxx">
          <option value="Shattrath">
          <option value="Taerar">
          <option value="Teldrassil">
          <option value="Terrordar">
          <option value="Theradras">
          <option value="Tirion">
          <option value="Todeswache">
          <option value="Ulduar">
          <option value="Un'Goro">
          <option value="Vek'lor">
          <option value="Wrathbringer">
          <option value="Zirkel des Cenarius">
          <option value="Pozzo dell'Eternità">
          <option value="Ashenvale">
          <option value="Azuregos">
          <option value="Blackscar">
          <option value="Booty Bay">
          <option value="Deathguard">
          <option value="Deathweaver">
          <option value="Deepholm">
          <option value="Eversong">
          <option value="Fordragon">
          <option value="Gordunni">
          <option value="Grom">
          <option value="Howling Fjord">
          <option value="Lich King">
          <option value="Razuvious">
          <option value="Soulflayer">
          <option value="Thermaplugg">
          <option value="C'Thun">
          <option value="Colinas Pardas">
          <option value="Dun Modr">
          <option value="Los Errantes">
          <option value="Minahonda">
          <option value="Sanguino">
          <option value="Shen'dralar">
          <option value="Tyrande">
          <option value="Chillwind Point">
          <option value="Crystalpine Stinger">
          <option value="Demon Fall Canyon">
          <option value="Light's Hope">
          <option value="Menethil">
          <option value="Nightsong">
          <option value="Order of the Cloud Serpent">
          <option value="Silverwing Hold">
          <option value="Sundown Marsh">
          <option value="World Tree">
          <option value="Wrathbringer">
          <option value="Zealot Blade">

        </datalist>
        <br>
        <div class="form-group center1">
          <button class="btn btn-primary new-character" type="submit">Add Character</button>
          <br><br>
        </div>
      </form>
      <section class="char-container">
        {{#if characters}}
        {{#each characters as |character|}}

        <div class="name-container">
          <button class="btn btn-secondary char-pick" type="button" data-id={{id}} id="char-pick">{{name}}</button>
        </div>
        <div class="char-list">
          <button class="btn btn-success char-team" onclick="location.href='/teams/{{id}}';"><i
              class="bi bi-diagram-3"></i>
          </button>
          <button class="btn btn-danger char-del"><i class="bi bi-eraser" id="char-del" data-id={{id}}></i></button>
        </div>

        {{/each}}
        {{/if}}
      </section>
    </div>
    <div>
      {{#if charPick}}
      {{> character-details}}
      {{/if}}
    </div>

  </main>

  <script src="js/character-add.js"></script>
  <script src="js/character-delete.js"></script>
  <script src="js/character-display.js"></script>