<div class="login-card box">
    <h2 class="page-title">Search</h2>
    <form class="form signup-form">
      <div class="form-group center1">
        <label for="email-signup">Search Your Charcter:</label>
        <input class="form-input" type="text" id="email-signup" />
      </div>
      <div class="dropdown-center">
  <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
    Centered dropdown
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Action two</a></li>
            <li><a class="dropdown-item" href="#">Action three</a></li>
        </ul>
        </div>
        <div class="dropdown-center">
        <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Centered dropdown
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Action two</a></li>
            <li><a class="dropdown-item" href="#">Action three</a></li>
        </ul>
        </div>
      <div class="form-group center1">
        <button class="btn btn-primary" type="submit">Search</button>
        <br><br>
      </div>
      
    </form>
  
  