<div class="login-card box">
    <h2 class="page-title">Add Your Character</h2>
    <form class="form new-character">
      <div class="form-group center1">
        <label for="name-input">Your Character's name:</label>
        <input class="form-input" type="text" id="name-input" />
      </div>
     
    <select class="form-select form-select-lg mb-3 long"id="region-input" aria-label=".form-select-lg example">
        <option selected>Your Region</option>
        <option value="us">Americas</option>
        <option value="eu">Europe</option>
        <option value="cn">China</option>
        <option value="kr">Korea</option>
        <option value="tw">Taiwan</option>
    </select>
    <select class="form-select form-select-lg mb-3 long"  id="realm-input" aria-label=".form-select-lg example">
            <option selected>Your Realm</option>
            <option value="Area 52">Area 52</option>
            <option value="Illidan">Illidan</option>
            <option value="Draenor">Draenor</option>
            <option value="Tichondrius">Tichondrius</option>
            <option value="Stormrage">Stormrage</option>
            <option value="Area 52">Area 52</option>
            <option value="Kazzak">Kazzak</option>
            <option value="Azshara">Azshara</option>
            <option value="Silvermoon">Silvermoon</option>
            <option value="Dentarg">Dentarg</option>
            <option value="Tarren Mill">Tarren Mill</option>
            <option value="Blackhand">Blackhand</option>
            <option value="Taerar">Taerar</option>
    </select>
      <div class="form-group center1">
        <button class="btn btn-primary new-character" type="submit">Add Character</button>
        <br><br>
      </div>
     </form>  
     {{#if characters}}
<section>
  <div >
    {{#each characters as |character|}}
    <button class="btn btn-color" type="button"><a href="/teams/{{id}}">{{name}}</a><img src="{{thumb}}" ></button>
      <br>
    {{/each}}
  </div>
</section>
{{/if}}

<script src="js/character-add.js"></script>