<body class="extra">
   {{!-- <img src="./images/shadowlands.png"/> --}}
<div class="row justify-space-between-md box formed">
  <h2 class="page-title transparent subs">Login</h2>
  <div class="login-card log transparent">
    <form class="form login-form transparent">
      <div class="form-group center1 trasparent">
        
        <input class="form-input" placeholder= "Email"type="text" id="email-login" />
      </div>
      <div class="form-group center1 transparent">
        
        <input class="form-input" placeholder="Password" type="password" id="password-login" />
      </div>
      <div class="form-group center1 transparent">
        <button class="btn btn-primary subs " type="submit">Login</button>
        <br><br>
      </div>
    </form>
  </div>
  <a class="sign transparent" href="/signup">Signup Here </a>
</div>
  
</body>
<script src="js/login.js"></script>