<div class="extra">
  <div class="login-card">
    <h2 class="page-title standout-2">Login</h2>
    <form class="form login-form">
      <div class="form-group">
        <input class="form-input" placeholder="Email" type="text" id="email-login" />
      </div>
      <div class="form-group">
        <input class="form-input" placeholder="Password" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary submit" type="submit">Login</button>
      </div>
      <a class="sign" href="/signup">Signup Here </a>
    </form>
  </div>
</div>
<script src="js/login.js"></script>