<div class="login-card box">
    <h2 class="page-title">Signup</h2>
    <form class="form signup-form">
      <div class="form-group center1">
        
        <input class="form-input" placeholder="Email" type="text" id="email-signup" />
      </div>
      <div class="form-group center1">
        
        <input class="form-input" type="password" placeholder="Password" id="password-signup" />
      </div>
      <div class="form-group center1">
        <button class="btn btn-primary" type="submit">Sign up</button>
        <br><br>
      </div>
      
    </form>
  
  <a href="/login" >Login Instead </a>

<script src="js/signup.js"></script>