
<div class="col-sm mx-auto">
    <div class="card-sitting-out">
      <img src="../assets/images/placeholder.png" class="card-img-left-sidebar" alt="placeholder">
      <div class="card-body">
        <h5 class="card-title">Sitting out: </h5>
        <p class="card-text">Stats: </p>
      </div>
    </div>
  </div>
  <div class="column mx-auto">
    <div class="empty">
    </div>
  </div>
  <div class="column mx-auto">
    <div class="tank">
      <img src="../assets/images/placeholder.png" class="card-img-top" alt="placeholder">
      <div class="card-body">
        <h5 class="card-title">Tank:</h5>
        <p class="card-text">Stats: </p>
      </div>
    </div>
  </div>
  <div class="column mx-auto">
    <div class="empty">
    </div>
  </div>
  <div class="col-sm mx-auto">
   <div class="input-group mb-3">
  <input type="text" class="form-control" placeholder="Search" aria-label="Recipient's username" aria-describedby="button-addon2">
  <button class="btn btn-outline-secondary" type="button" id="button-addon2">🔎</button>
</div>
  </div>

 <div class="col-sm mx-auto">
    <div class="card-sitting-out">
      <img src="../assets/images/placeholder.png" class="card-img-left-sidebar" alt="placeholder">
      <div class="card-body">
        <h5 class="card-title">Sitting out: </h5>
        <p class="card-text">Stats: </p>
      </div>
    </div>
  </div>

  <div class="column mx-auto">
    <div class="healer">
      <img src="../assets/images/placeholder.png" class="card-img-top" alt="placeholder">
      <div class="card-body">
        <h5 class="card-title">Healer:</h5>
        <p class="card-text">Stats: </p>
      </div>
    </div>
  </div>
   <div class="column mx-auto">
    <div class="team">
        <h5 class="card-title">Guild Name:</h5>
        <p class="card-text">Stats: </p>
    </div>
  </div>

<div class="column mx-auto">
    <div class="dps">
      <img src="../assets/images/placeholder.png" class="card-img-top" alt="placeholder">
      <div class="card-body">
        <h5 class="card-title">DPS:</h5>
        <p class="card-text">Stats: </p>
      </div>
    </div>
  </div>

  <div class="col-sm mx-auto">
    <div class="empty">
    </div>
  </div>

<div class="column mx-auto">
    <div class="dps">
      <img src="../assets/images/placeholder.png" class="card-img-top" alt="placeholder">
      <div class="card-body">
        <h5 class="card-title">DPS:</h5>
        <p class="card-text">Stats: </p>
      </div>
    </div>
  </div>
   <div class="column mx-auto">
    <div class="empty">
    </div>
  </div>

<div class="column mx-auto">
    <div class="dps">
      <img src="../assets/images/placeholder.png" class="card-img-top" alt="placeholder">
      <div class="card-body">
        <h5 class="card-title">DPS:</h5>
        <p class="card-text">Stats: </p>
      </div>
    </div>
  </div>

