<div class="card-columns">
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Healer:</h5>
      <p class="card-text">Stats:</p>
    </div>
  </div>
  <div class="card p-3">
    <blockquote class="blockquote mb-0 card-body">Team Stats:
    </blockquote>
  </div>
  <div class="card">
  </div>
<div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Tank:</h5>
      <p class="card-text">Stats:</p>
    </div>
  <div class="card text-center">
    
  </div>
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">DPS:</h5>
      <p class="card-text">Stats:</p>
    </div>
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">DPS:</h5>
      <p class="card-text">Stats:</p>
    </div>
</div>