body {
  background-color: black;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
a:hover {
  cursor: pointer;
}
/* button > * {
  pointer-events: none;
} */
img:hover {
  cursor: default;
}
.pad {
  margin-top: 20px;
}
.long {
  max-width: 200px;
  min-height: 50px;
}
.btn-color {
  color: rebeccapurple;

  background-color: rebeccapurple;
  box-shadow: 5px 10px 18px greenyellow;
}
.placeholder {
  max-width: 100px;
}

.logo {
  width: 80px;
  height: 80px;
}

footer {
  margin: 15px;
  padding: 15px;
  display: flex;
  align-items: center;
  height: 15px;
  position: sticky;
  background-color: transparent;
}
.btn-main {
  background-color: rgb(157, 33, 33);
  color: white;
  border: 0px;
}

.standout {
  color: maroon;
  font-family: 'MedievalSharp', cursive;
}

.standout-2 {
  color: white;
  font-family: 'MedievalSharp', cursive;
}
/* style for landing page */
.landing-body {
  margin-top: 106px;
  min-height: calc(100vh - 166px);
}

.welcome {
  color: rgb(157, 33, 33);
  text-align: left;
  font-size: 75px;
  font-family: 'MedievalSharp', cursive;
}

#big-logo-img {
  width: 200px;
  height: 200px;
}

.faction {
  box-shadow: 3px 8px 18px blue, 10px 20px 36px maroon;
}

.guldan {
  box-shadow: 5px 10px 18px greenyellow;
  padding: 10px;
}

#guldan {
  margin-left: 68px;
  margin-top: 25px;
  height: 700px;
  width: 500px;
}

.support {
  width: 1900px;
  background-color: black;
  margin: auto;
}

#message {
  height: 100px;
  width: 600px;
}

/* #submit {
  background-color: white;
  color: orangered;
  font-weight: bolder;
} */

#response {
  font-size: 20px;
}

.length {
  max-width: 225px;
}
.length2 {
  max-width: 110px;
}
.center {
  text-align: center;
}

#lastName {
  margin-left: 1px;
}

#email {
  margin-left: 6px;
}

/* Styling for character page */

.char-bod {
  margin-top: 106px;
  min-height: calc(100vh - 166px);
  width: 100%;
  display: flex;
  justify-content: center;
  background-image: url('/images/lk1.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.page-title {
  font-size: 50px;
  margin-bottom: 25px;
}

.new-character {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.character-details {
  background-color: rebeccapurple;
  border: black 2px solid;
  box-shadow: 5px 10px 18px greenyellow;
  padding: 2px;
}
.character-page {
  display: flex;
  gap: 20%;
}
.char-list {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}
.name-container {
  display: flex;
  justify-content: center;
}
.char-pick {
  border: solid black 3px;
  box-shadow: 5px 10px 18px greenyellow;
}

.char-team {
  border: solid black 3px;
  padding: 0;
  height: 28px;
  width: 28px;
  box-shadow: 5px 10px 18px greenyellow;
}
.char-del {
  border: solid black 3px;
  padding: 0;
  height: 28px;
  width: 28px;
  box-shadow: 5px 10px 18px greenyellow;
}

.char-card {
  width: max-content;
  display: flex;
  justify-content: space-around;
}

.char-detail {
  font-size: 30px;
  background-color: transparent;
  /* border: 5px solid white; */
  color: white;
  height: 600px;
  width: 600px;
}

ul {
  list-style: none;
  padding-left: 0;
}

#char-icon img {
  margin-left: 15%;
  width: 25%;
  height: 25%;
}
/* styling for teammates page */
.team-body {
  margin-top: 106px;
  min-height: calc(100vh - 166px);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('/images/bg.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.team-contents {
  display: flex;
}

.team-layout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: space-evenly;
  /* width: 700px;
  height: 500px; */
}

.tmate-del {
  border: solid black 3px;
  padding: 0;
  height: 28px;
  width: 28px;
  box-shadow: 5px 10px 18px greenyellow;
}

/* styling for login page */
.extra {
  margin-top: 106px;
  min-height: calc(100vh - 166px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://www.icy-veins.com/forums/uploads/monthly_2020_04/350764513_worldmapshadowlands.jpg.dc2e81a15d6ffccf20265dd70a9e8d30.jpg');
  background-position: center;
  background-size: cover;
}
.login-card {
  background: rgba(0, 0, 0, 0.75);
  border: solid maroon 3px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3px;
}
.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3px;
}
.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3px;
}

.sign {
  color: white;
}

.sign:hover {
  font-weight: bolder;
  font-size: larger;
}

.sign::after,
.sign:visited {
  color: white;
  text-decoration: underline;
}

.submit {
  background-color: maroon;
  margin-top: 5px;
}
.submit:hover {
  background-color: maroon;
  opacity: 0.5;
}

.subs {
  margin-left: 50px;
  border: 0px;
}

.formed {
  margin: 45% 45%;
  background-color: transparent;
}

.transparent {
  background-color: transparent;
}

/* signup page */
.oribos {
  margin-top: 106px;
  min-height: calc(100vh - 166px);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://cdnb.artstation.com/p/assets/images/images/044/523/905/large/francesca-baerald-fbaerald-shadowlandsmap.jpg?1640259662');
  background-size: cover;
  background-position: center;
}

.su {
  color: maroon;
}

.loginlink {
  color: maroon;
}

.loginlink:hover {
  font-weight: bolder;
  font-size: larger;
}

.loginlink::after,
.loginlink:visited {
  color: maroon;
  text-decoration: underline;
}
