body {
  background-color: black;
  color: white;
}
img:hover {
  cursor: default;
}
.pad {
  margin-top: 20px;
}
.long {
  max-width: 200px;
  min-height: 50px;
}
.btn-color {
  color: rebeccapurple;

  background-color: rebeccapurple;
  box-shadow: 5px 10px 18px greenyellow;
}
.placeholder {
  max-width: 100px;
}

.logo {
  width: 80px;
  height: 80px;
}

footer {
  background-color: transparent;
  position: sticky;
}

/* style for landing page */

.welcome {
  color: orangered;
  text-align: left;
  font-size: 75px;
  margin: 50px 0 0 0;
}

#big-logo-img {
  width: 200px;
  height: 200px;
}

.faction {
  box-shadow: 3px 8px 18px blue, 10px 20px 36px maroon;
}

.guldan {
  box-shadow: 5px 10px 18px greenyellow;
  padding: 10px;
}

#guldan {
  margin-left: 68px;
  margin-top: 25px;
  height: 700px;
  width: 500px;
}

.support {
  width: 1900px;
  background-color: black;
  margin: auto;
}

#message {
  height: 100px;
  width: 600px;
}

#submit {
  background-color: white;
  color: orangered;
  font-weight: bolder;
}

#response {
  font-size: 20px;
}

.length {
  max-width: 225px;
}
.length2 {
  max-width: 110px;
}
.center {
  text-align: center;
  margin: 75px 0 0 0;
}

/* Styling for character page */

.box {
  margin: 60px 0 0 25px;
}
.new-character {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.character-details {
  background-color: rebeccapurple;
  border: black 2px solid;
  box-shadow: 5px 10px 18px greenyellow;
  padding: 2px;
}
.character-page {
  display: flex;
  gap: 20%;
}
.char-list {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}
.name-container {
  display: flex;
  justify-content: center;
}
.char-team {
  padding: 0;
  height: 25px;
  width: 25px;
  box-shadow: 5px 10px 18px greenyellow;
}
.char-del {
  padding: 0;
  height: 25px;
  width: 25px;
  box-shadow: 5px 10px 18px greenyellow;
}

.char-card {
  width: max-content;
  display: flex;
  justify-content: space-around;
}

/* styling for teammates page */

/* styling for login page */
.extra {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://www.icy-veins.com/forums/uploads/monthly_2020_04/350764513_worldmapshadowlands.jpg.dc2e81a15d6ffccf20265dd70a9e8d30.jpg');
  background-size: cover;
}
.sign {
  color: white;
  margin-left: 40px;
}

.sign:hover {
  font-weight: bolder;
  font-size: larger;
}

.sign::after,
.sign:visited {
  color: white;
  text-decoration: underline;
}

.submit {
  background-color: maroon;
}
.submit:hover {
  background-color: maroon;
  opacity: 0.5;
}

.subs {
  margin-left: 50px;
  border: 0px;
}

.formed {
  margin: 45% 45%;
  background-color: transparent;
}

.transparent {
  background-color: transparent;
}

/* signup page */
.oribos {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://cdnb.artstation.com/p/assets/images/images/044/523/905/large/francesca-baerald-fbaerald-shadowlandsmap.jpg?1640259662');
  background-size: cover;
}

.su {
  color: maroon;
}

.loginlink {
  color: maroon;
}

.loginlink:hover {
  font-weight: bolder;
  font-size: larger;
}

.loginlink::after,
.loginlink:visited {
  color: maroon;
  text-decoration: underline;
}

.formatting {
  margin-left: 40px;
  border: 0px;
}
